<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <div>
        {{bdata}}
    {% for n in clist%}
    <br>
    {{forloop.counter}}{{n}}
    {% endfor %}
    </div>

    <br>
    <table border="1" cellpadding="10">
        <tr>
            <th>Name</th>
            <th>Phone</th>
        </tr>
        {% for d in std_det_dic %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phn}}</td>
        </tr>
        {% endfor %}
    </table> 
    
    {% if numbers|length > 0 %}
    {% for n in numbers %}
    {% if n > 20 %}
        <div>{{ n }}</div>
    {% endif %}
    {% endfor %}
    {% else %}
        No Data Found
    {% endif %}


</body>
</html>