<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
</head>
     <!--Body Starts Here-->
<body>
    <h1>User Form</h1>
    <div class="row">
        <div class="col-12">
            <form method="post" action="{% url 'submitform' %}">
                {% csrf_token %}
                <div>
                    <label for="">Value1</label>
                    <input type="text" value="{{n1}}" name="num1">
                </div>
                <div>
                    <label for="">Value2</label>
                    <input type="text" value="{{n2}}" name="num2">
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
                output
                <input type="text" value="{{output}}"/>
            </form>
        </div>
    </div>
</body>
</html>